<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    Options -Indexes

    RewriteEngine On

    # Forbid directory links
    RewriteRule ^(.*)/$ - [L,F]
</IfModule>
