<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="row">
                <div data-ng-hide="token" class="col-md-6">
                    <a ng-href="/signup" class="btn btn-default btn-primary margin-right" role="button">Sign up</a>
                    or
                    <a ng-href="/signin" class="btn btn-default btn-primary margin-left" role="button">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="items" ng-repeat="item in items">
    <span>{{item.brand}}</span> <span>{{item.type}}</span>, <span data-ng-show="item.mileage">{{item.mileage}}</span>
    <div>
        <span>{{item.description}}</span>
    </div>
</div>

<!-- TODO: tab 1 -->
<hr/>
<div class="row">
    Simple search form<br/>
    <a ng-click="search()">Search</a><span data-ng-hide="token"> | <a ng-href="/signin">Advanced search</a></span>
</div>
<!-- TODO: tab 2 -->
<hr/>
<div data-ng-show="token" class="row">
    Advanced search form<br/>
    <a ng-click="advancedSearch()">Search</a>
</div>
